/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-basic, --font-secondary);
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  font-weight: 400;
  color: var(--text-basic-color, inherit);
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1600px;
    padding: 0 110px;
  }
}
/*
* {
  outline: 2px solid #c41d1d;
  outline-offset: -2px;
}

* > * {
  outline: solid #4ee44e;
}

*::before,
*::after {
  outline: solid #0000ff;
}
*/
