/* здесь используйте глобальные переменные */
:root {
  --font-basic: "Lato", "Arial", sans-serif;
  --font-secondary: "Oswald", "Lato", "Arial", sans-serif;

  --text-basic-color: #444444;
  --text-dark-color: #222222;
  --text-darker-color: #111111;
  --text-secondary-color: #000000;
  --text-light-color: #ffffff;

  --background-color: rgba(104, 183, 56, 0.85);

  --button-basic: #68b738;
  --button-basic-hover: #5eaa2f;
  --button-basic-active: rgba(255, 255, 255, 0.3);

  --button-secondary: #f2f2f2;
  --button-secondary-hover: #ebebeb;

  --arrow: #000000;

  --current-basic: #68b738;
  --current-secondary: #ffffff;

  --back-basic: #ffffff;
  --back-color: #68b738;
  --back-secondary: #f2f2f2;
  --back-grey: #eaeaea;

  --border: #e6e6e6;
  --border-secondary: #d9d9d9;
  --border-special: #cdcdcd;

  --curtain: #666666;
  --curtain-hover: #68b738;
  --curtain-active: rgba(94, 170, 47, 0.6);


  --social: #666666;
  --social-hover: #68b738;


  --input--error: #ff8282;

  --light-color: #ffffff;

  --cat-back: #414146;
  --cat-gradient: #68b738;
}

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
