/* GLOBAL */
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/variables.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/button.scss";
@import "./blocks/visually-hidden.scss";
@import "./blocks/block-title.scss";
@import "./blocks/catalog-block.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo-energy.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/build.scss";
@import "./blocks/effect.scss";
@import "./blocks/results.scss";
@import "./blocks/results-list.scss";
@import "./blocks/social.scss";
@import "./blocks/html-logo.scss";
@import "./blocks/catalog.scss";
@import "./blocks/catalog-card.scss";
@import "./blocks/extra.scss";
@import "./blocks/extra-item.scss";
@import "./blocks/present.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/form.scss";
@import "./blocks/contacts.scss";
@import "./blocks/contacts-catalog.scss";
@import "./blocks/map.scss";
@import "./blocks/main-footer.scss";
