.block-title {
  font-family: var(--font-secondary, inherit);
  font-size: 36px;
  line-height: 1.11;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  color: var(--text-secondary-color, inherit);

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 60px;
  }
}
