.catalog-block {
  position: relative;
  width: fit-content;
  margin: 0;
  font-family: var(--font-secondary, inherit);
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  background-color: var(--text-light-color, #ffffff);
  color: var(--text-secondary-color, inherit);
  box-shadow: -40px 0 0 0 var(--current-secondary, #ffffff), 40px 0 0 0 var(--current-secondary, #ffffff);

  @media (min-width: $tablet-width) {
    font-size: 32px;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    margin-left: 0;
  }
}

.catalog-block::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 100vw;
  height: 2px;
  background: var(--current-basic, #68b738);
  box-shadow: 100vw 0 0 0  var(--current-basic, #68b738);
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 14px;
  }

  @media (min-width: $desktop-width) {
    top: 18px;
  }
}
