.contacts-catalog {
  background-color: var(--back-secondary, #f2f2f2);
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 61px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
