.form {
  display: grid;
  place-items: center center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 635px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
    max-width: 752px;
  }
}

.form__field {
  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  font-family: var(--font-secondary, inherit);
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 15px;
  border: 1px solid var(--border-special, #bdbdbd);
  padding: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
}

.form__button {
  width: 100%;
  max-width: 280px;
  font-size: 20px;
  line-height: 1.3;
  padding: 15px 30px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    min-width: 258px;
  }
}
