.hero {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  background: linear-gradient(transparent 0, var(--button-basic) 0, var(--button-basic) 85%, transparent 85%);
}

.hero__title {
  font-size: 36px;
  line-height: 1;
  text-align: center;
}

.hero__subtitle {
  font-size: 14px;
  line-height: 1;
}

.hero__image {
  //
}

.hero__link {
  text-decoration: none;
}
