.hero {
  text-align: center;
  position: relative;
  font-family: var(--font-secondary, inherit);
  color: var(--text-light-color, inherit);

  @media (min-width: $tablet-width) {
    text-align: start;
    min-width: 415px;
    margin-left: 90px;
    color: var(--text-secondary-color, #000000);
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-left: 80px;
  }
}

.hero::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  background-color: var(--cat-back, #414146);
  background-image: linear-gradient(var(--background-color, rgba(104, 183, 56, 0.85)) 100%, var(--cat-gradient, #68b738)), url("../../images/cat-hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 100%;
  height: 63%;


  @media (min-resolution: 2dppx) {
    background-image: url("../../images/cat-hero-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.hero__wrapper {
  @media (min-width: $tablet-width) {
    margin-left: 120px;
  }
}

.hero__title {
  font-weight: 400;
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 1;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    text-align: start;
    font-size: 60px;
    line-height: 1;
  }
}

.hero__subtitle {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.hero__image {
  @media (min-width: $tablet-width) {
    margin-left: -90px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -81px;
    left: 143px;
    right: 0;
    margin: 0 auto;
  }
}

.hero__link {
  display: block;
  max-width: 350px;
  margin: 0 auto;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 28%;
    padding: 14px 26px;
    font-size: 20px;
    line-height: 1.3;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    max-width: 244px;
    margin-bottom: 185px;
    top: 33%;
  }
}
