.hero {
  font-family: var(--font-secondary, inherit);
  text-transform: uppercase;
  background: linear-gradient(transparent 0, var(--button-basic, inherit) 0, var(--button-basic, inherit) 85%, transparent 85%);
  color: var(--text-light-color, inherit);
}

.hero__title {
  font-size: 36px;
  line-height: 1;
  text-align: center;
}

.hero__subtitle {
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

.hero__image {
  //
}

.hero__link {
  text-decoration: none;
}
