.html-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-basic-color, #444444);
  text-decoration: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    gap: 23px;
  }
}

.html-logo:hover {
  color: var(--social-hover, #68b738);
}

.html-logo:active {
  color: var(--social-hover, #68b738);
  opacity: 30%;
}

.html-logo__image {
  mask-image: url("../../icons/stack.svg#html-academy");
  mask-position: center;
  margin: 0;
  width: 27px;
  height: 34px;
  background-color: var(--social, #666666);
}

.html-logo__image:hover {
  --social: var(--social-hover, #68b738);
}

.html-logo__image:active {
  --social: var(--social-hover, #68b738);
  opacity: 30%;
}
