.main-nav {
  //
}

.main-nav__toggle {
  position: relative;
  width: 24px;
  height: 2px;
  background-color: var(--text-secondary-color, #000000);
  cursor: pointer;
  border: none;
  top: -8px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  left: 0;
  background-color: var(--text-secondary-color, #000000);
}

.main-nav__toggle::before {
  top: -8px;
}

.main-nav__toggle::after {
  top: 8px;
}

.main-nav__toggle.main-nav__toggle--open {
  background-color: transparent;
}

.main-nav__toggle.main-nav__toggle--open::before {
  transform: rotate(45deg);
  top: 0;
}

.main-nav__toggle.main-nav__toggle--open::after {
  transform: rotate(-45deg);
  top: 0;
}

.main-nav__open {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
  }
}

.main-nav--open {
  display: flex;
  position: absolute;
  margin-top: 10px;
  width: 100%;
  left: 0;
  background-color: var(--text-light-color, #ffffff);
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.main-nav__list {
  display: block;
  margin: 0;

  padding: 0;
  list-style-type: none;
  width: 100%;
  text-align: center;
  font-family: var(--font-secondary, inherit);
  font-size: 20px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 11px;
    font-size: 18px;
    line-height: 1.33;
  }
}


.main-nav__item {
  padding: 22px 0;
  border-bottom: 1px solid var(--border, #e6e6e6);

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.main-nav__item:first-child {
  border-top: 1px solid var(--border, #e6e6e6);

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-secondary-color, inherit);

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1.5;
    color: var(--text-light-color, #ffffff);
  }
}

.main-nav__item--catalog a {
  color: var(--text-secondary-color, #000000);
}

.main-nav__item:hover {
  opacity: 60%;
}

.main-nav__item:active {
  opacity: 30%;
}


.main-nav__item--current a::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    width: 100%;
    margin: 10px auto 0;
    border-bottom: 2px solid var(--current-basic, #68b738);
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid var(--current-secondary, #ffffff);
  }
}

.main-nav__item--current-catalog {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid var(--current-basic, #68b738);
  }
}
