.map {
  width: 100%;
}

.map__iframe {
  position: absolute;
  z-index: 1;
  width: 100%;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.map__image {
  position: relative;
  top: 0;
  width: 100%;
  height: 362px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 400px;
  }
}
