.present {
  color: var(--text-light-color, inherit);
}

.present__title {
  padding: 58px 60px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: var(--text-light-color, inherit);
}

.present__title::before {
  content: "";
  display: block;
  margin: auto;
  margin-bottom: 20px;
  background-image: url("../../icons/bonus.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 78;
  height: 80;
}
