.results {
  //
}

.results__title {
  //
}

.results__description {
  //
}

.results__info {
  //
}

.results__list {
  //
}

.results__cost {
  font-family: var(--font-secondary, inherit);
  font-size: 14px;
  line-height: 1.43;
  color: var(--text-secondary-color, inherit);
  text-transform: uppercase;
}
