.site-list {
  font-family: var(--font-secondary, inherit);
  font-size: 20px;
  line-height: 1;
  list-style-type: none;
}

.site-list__item a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-secondary-color, inherit);
}
